{% extends '_base.html' %}

{% block page_title %}
      Sign Up
{% endblock page_title %}

{% block content %}

<div class="container mt-5">

    <div class="row">

        <div class="col-md-6 mx-auto">

            <div class="card shadow p-4">

                <h3>Login</h3>

                <form method="POST">

                    {% csrf_token %}

                    {{ form.as_p }}

                    <button type="submit"
                            class="btn btn-primary">
                        Sign UP
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock content %}